/* Setup */
:root {
	--black: #000000;
	--almost-black: #263238;
	--white: #ffffff;
	--almost-white: #FBFBFB;
	--grey-light: #CFD8DC;
	--grey: #B0BEC5;
	--grey-medium: #78909C;
	--grey-dark: #455A64;
	--primary: #1E88E5;
	--primary-dark: #1976D2;
	--secondary: #CFD8DC;
	--secondary-dark: #B0BEC5;
	--red: #EF4836;
  }


body{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
h1{
	background: #474adb;
	border-radius: 10px;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
label{
    display:inline-block;
    margin: 10px 0px;
}
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="time"]:focus,
input[type="url"]:focus
input[type="password"]:focus,
textarea:focus,
select:focus
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

input[type="submit"],
input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
input[type="submit"]:hover,
input[type="button"]:hover{
	background: #2EBC99;
}

.error {
	margin: 0;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: var(--red);
  }
  
  .error--hidden {
	display: none;
  }
  .hidden{
	display: none;
  }

  .login_link{
	  color: blue;
	  text-decoration: underline;
  }

  .center{
	  text-align: center;
  }
  /* Cards */
.card-wrapper {
	margin: 0 auto;
	padding: 90px 30px;
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
  
  .card {
	margin: 0 30px 60px;
	padding: 20px 40px;
	width: 460px;
	box-shadow: 0 8px 26px -4px rgba(0,0,0,0.15);
	border-radius: 5px;
	background: var(--white);
  }
  
  @media only screen and (max-width: 520px) {
	.card-wrapper {
	  padding: 30px 0 0;
	}
  }
  
  @media only screen and (max-width: 520px) {
	.card {
	  margin: 0 0 30px;
	  width: 100%;
	  border-radius: 0;
	}
  }
  
  /* Buttons */
.btn {
	margin: 0 0 24px;
	padding: 11px 30px 10px;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	text-decoration: none;
	color: var(--white);
	border: none;
	border-radius: 4px;
	outline: none;
	cursor: pointer;
	display: inline-block;
	background: var(--primary);
	transition: color .15s ease, background-color .15s ease;
  }
  
  .btn:hover {
	background: var(--primary-dark);
  }
  
  .btn--secondary {
	color: var(--almost-black);
	background: var(--secondary);
  }
  
  .btn--secondary:hover {
	background: var(--secondary-dark);
  }